
body {
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #121212;
  padding-top: 128px;
  padding-bottom: 30px;
  max-width: 956px;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.container-creslo {
  height: 500px;
  max-width: 1150px;

  background-image: url('../resources/Creslo\ 1.png');
  /* background-image: url('../resources/Batton-red\ 1.png'); */
}

.container-creslo-text {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.03em;
  text-align: left;
  padding-top: 379px;
  padding-left: 40px;
  padding-right: 680px;

  color: #ffffff;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding-top: 150px;

  color: #121212;
}

p {
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  padding-top: 30px;
  max-width: 1048px;
  color: #121212;
}
.see {
  display: block;
  width: 255px;
  height: 67px;
  border: 1px;
  background-color: rgba(173, 24, 24, 1);
  margin-top: 30px;

  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;

  text-align: center;
  text-decoration: none;
  line-height: 67px;
  color: #ffffff;

  border-radius: 5px;
}
.see:hover {
  /* color: rgba(173, 24, 24, 1) ; */
  background-color: rgba(173, 24, 24, 0.9);
}

.block-3-1 {
  margin-top: 30px;
}
.block-name {
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  margin-top: 15px;

  color: #121212;
}

.block-more {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  text-decoration: none;

  margin-top: 15px;
  color: #ad1818;
}

.block-3-2 {
  margin-top: 90px;
}
.block-3-3 {
  margin-top: 90px;
}

.block-button {
  display: block;
  border: 1px solid #ad1818;
  border-radius: 5px;

  background-color: white;

  width: 100%;
  height: 153px;

  border-radius: 5px;
  margin-top: 146px;

  font-size: 30px;
  line-height: 41px;

  text-align: center;
  letter-spacing: -0.03em;

  color: #ad1818;
}
.block-button:hover {
  background-color: rgba(173, 24, 24, 1);

  font-size: 30px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.block-4 {

  background: #121212;

  margin-top: 150px;
  padding-bottom: 150px;
}
.block-4-item {
  margin-top: 34px;
}
.block-4 img, .block-3 img {
  width: 100%;
  max-width: 1150px;
  display: block;
}

.uslugi {
  margin-top: 151px;

  font-size: 18px;
  line-height: 25px;

  letter-spacing: -0.03em;

  color: #ffffff;
}
.name-uslugi {
  margin-top: 15px;

  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.block-4-5 {
  background-position: center;
  background-repeat: no-repeat;

  background-image: url(../resources/Krovat.png);
}

.block-4-5-text {
  padding-top: 575px;
  padding-bottom: 60px;
  width: 443px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.iphone {
  margin-top: 150px;
}
.kontakt {
  margin-top: 12px;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: -0.03em;

  color: rgba(18, 18, 18, 0.5);
}
.tel {
  margin-top: 33px;
}

.tel a {
  font-size: 60px;
  line-height: 60px;

  letter-spacing: -0.03em;
  text-decoration: none;

  color: rgba(18, 18, 18, 0.5);
}

.emeil {
  margin-top: 29px;
}
.emeil a {
  text-decoration: none;
  border-bottom: 3px solid rgba(18, 18, 18, 0.5);

  font-size: 60px;
  line-height: 60px;

  letter-spacing: -0.03em;

  color: rgba(18, 18, 18, 0.5);
}

header {
  margin-top: 32.83px;
  display: flex;
  justify-content: space-between;
}
.header-link {
  margin-left: 60px;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #121212;
}
.header-link:hover {
  color: rgba(18, 18, 18, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.footer {
  margin-top: 150px;
  padding-bottom: 30px;
  background-color: #121212;
}

.footer nav {
  display: flex;
  justify-content: center;
}

.footer-link {
  margin-top: 60px;
  margin-left: 56px;

  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
}
.footer-link:hover {
  color: rgba(255, 255, 255, 0.5);
}
.footer-link:first-child {
  margin-left: 0px;
}
.pfooter {
  margin-top: 87px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 0.5);
}

